@charset "utf-8";
.cont_about{margin-top:74px;padding-bottom:40px;}
.cont_title{border-bottom:solid 1px #787878;text-align:center;}
.cont_title a{display:inline-block; width:170px;height:40px;line-height:40px;vertical-align:middle;background-color:#b71818;margin-right:20px;color:white;font-size:16px;}
    .cont_title a:hover {background-color:#efaf02;color:black}
.cont_cont{padding-top:50px;padding-bottom:30px;font-size:15px;color:#4b4b4b;line-height:30px;vertical-align:middle}

/* 高新闻*/
.newsline {
	width: 1100px;
	margin: 20px auto;
	max-width: 96%;
}
.newsline a {
	display: inline-block;
	float: left;
	height: 132px;
	width: 100%;
	padding: 0 20px;
	transition: all ease 0.3s;
}
.newsline a .newstime {
	border-right: #d7dde3 solid 1px;
	width: 178px;
	float: left;
	height: 63px;
	margin-top: 37px;
	-webkit-align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
}
.newsline a .newstime .newstime_top {
	font-size: 47px;
	color: #f73232;
	line-height: 50px;
}
.newsline a .newstime .newstime_bot {
	font-size: 16px;
	color: #787878;
	line-height: 18px;
	text-transform: uppercase;
}
.newsline a .newtext {
	padding-left: 32px;
	width: 840px;
	float: left;
}
.newsline a .newtext .newtitle {
	width: 100%;
	float: left;
	font-size: 15px;
	color: #575757;
	overflow: hidden;
	white-space: pre;
	text-overflow: ellipsis;
	margin-bottom: 15px;
	margin-top: 32px;
}
.newsline a .newtext .ntime {
	display: none;
	width: 100%;
	float: left;
	font-size: 12px;
	color: #787878;
	line-height: 22px;
}
.newsline a .newtext .newsmall {
	width: 100%;
	float: left;
	font-size: 13px;
	color: #787878;
	line-height: 22px;
	max-height: 44px;
	overflow: hidden;
}
.newsline a .newsjiantou {
	margin-left: 27px;
	-webkit-align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	height: 100%;
	width: 13px;
	float: left;
}
.newsline a .newsjiantou .newsjiantou2 {
	display: none;
}

.newsline a:hover {
	padding-left: 0px;
	transition: all ease 0.3s;
	background: #f73232;
}
.newsline a:hover .newstime_top {
	color: #FFFFFF;
}
.newsline a:hover .newstime_bot {
	color: #FFFFFF;
}
.newsline a:hover .newtitle {
	color: #FFFFFF;
}
.newsline a:hover .newsmall {
	color: #FFFFFF;
}
.newsline a:hover .newsjiantou .newsjiantou1 {
	display: none;
}
.newsline a:hover .newsjiantou .newsjiantou2 {
	display: block;
}


/* 测评*/
.pingce_cont{overflow: hidden;border-bottom: 1px solid #dfdfdf;margin-bottom: 0.8rem;padding-bottom: 0.56rem;}
.pingcem{margin-bottom: 0.56rem;}
.pingcem li{width:95%;margin:0 auto;margin-bottom: 0.2rem;}
.pingcem .text01{padding:0 1%;width:98%;border-radius: 0.1rem;border:1px solid #ddd;height:40px;background:#fff;}
.pingcem .text02{padding:0 1%;width:100%;border-radius: 0.1rem;border:1px solid #ddd;height:40px;background:#fff;}
input.btn{width:95%; height:62px; font-size:26px; line-height:58px; border-radius:4px; border:solid 5px #b71818;  
	text-align:center; background-color: #b71818;color: #fff;display:block; margin:0 auto;cursor:pointer}
.pingcejg{text-align: center;width: 100%;}
.pingcejg p{color: #555;font-size: 2.9rem;font-weight: bold;width: 90%;margin-left: 5%;margin-bottom: 10px;}
.pingcejg h6{margin-top:10px;width:4rem; height: 1.5rem;color:#fff;background-color: #3390f9; line-height: 1.5rem;font-size: 1.2rem;
	display: inline-block;border-radius: 3px;margin-bottom: 8px;}

/* 短新闻*/
.new_list_li {
   vertical-align:top;background:url(/img/redyuan.jpg) no-repeat 3px 8px;padding-left:30px;border-bottom:dashed 1px #cccccc;
   font-size:15px;
}
.new_list_li span{
    display:block;float:right;color:#aaaaaa;
}
.new_list_li a{
    color:#363636;
}
.new_list_li a:hover{
    color:#fc1313;
}
.new_list_li:hover{background:url(/img/yuan2.jpg) no-repeat 3px 8px;}
.new_list {
    padding-left:100px;padding-right:100px;
}
/*案例*/
.newmore{line-height:24px;padding-bottom:10px;}
.picturelist{width:1190px;overflow:hidden}
.picturelist li{ width:250px;float:left;color:#313131;font-size:18px;margin-right:112px;background-color:#b71818;padding:16px;margin-bottom:46px;border-radius:10px;
-moz-border-radius:10px; /* 老的 Firefox */}
.picturelist_z{font-size:12px;color:#ece8e8;height:30px;overflow:hidden}
.picturelist li img{ width:250px;height:330px}
.picturelist li a{display:block;color:white;}
.picturelist li p{text-align:center; margin-bottom:15px;}
.picturelist li:hover{background-color:#a30b03}

/*新闻中心*/
.title_t{font-size:23px;letter-spacing: normal;text-align:center;margin-bottom:15px;}
.title_z{text-align:center;line-height:26px;vertical-align:middle}
.title_z img{line-height:26px;vertical-align:middle}
.cont_new{margin-top:20px;padding-left:30px;padding-right:30px;}
.cont_new p{margin-bottom:15px;text-indent:2em;}
/*技能入户*/
.jineng_yousi_t{font-size:60px;font-weight:bold;color:#d70f0f;text-align:center;margin-top:40px;margin-bottom:20px;}
.jineng_zhong{text-align:center;margin-bottom:30px;}
.jineng_youshi_li{width:100%;background:url("/img/jineng_bgred.jpg");margin-bottom:70px;position:relative;height:372px;}
.juedui_imgl{position:absolute;top:-18px;left:18px;}
.juedui_imgl img{border-radius:5px;-moz-border-radius:5px;}
.juedui_img2{position:absolute;top:-24px;right:24px;}
.juedui_img2 img{border-radius:5px;-moz-border-radius:5px;}
.jineng_youshi_li_r{width:611px;float:right;text-align:left;}
.jineng_youshi_li_r_t{font-size:54px;color:white;padding-top:40px;padding-bottom:26px;font-weight:bold}
.jineng_youshi_li_r p,.jineng_youshi_li_l p{font-size:25px;line-height:40px;color:white;}
.jinengzixun a{font-size:21px; color:#ffff00; width:173px;text-align:center;display:block;border:solid 2px #ffff00;line-height:30px;vertical-align:middle;margin-top:20px;border-radius:25px;
-moz-border-radius:25px; /* 老的 Firefox */}
.jineng_youshi_li_l{width:611px;float:left;text-align:right;}
.jineng_tiaojian{background:url("/img/tjbg.jpg") no-repeat top center;}
.jifen_tiaojian{background:url("/img/jifen_tjbg.jpg") no-repeat top center;}
.jineng_tiaojian_t{text-align:center;padding-top:60px;padding-bottom:20px;}
.jineng_tiaojian_n{background:url(/img/jnbg_03.png) no-repeat left top;height:520px;padding-bottom:30px;}
.jifen_tiaojian_n{background:url(/img/jifen_redbg.png) no-repeat left top;height:520px;padding-bottom:30px;}
.jineng_tiaojian_n_li{width:320px;float:left;color:white;margin-right:40px;}
.jineng_tiaojian_n_li_t{font-size:40px;font-weight:bold;padding-top:80px;line-height:80px;vertical-align:middle;border-bottom:solid 4px white;width:258px;margin-bottom:50px;text-align:center;}
.jineng_tiaojian_n_li_n{font-size:20px;line-height:40px;vertical-align:middle;}
.liucheng{margin-top:80px;margin-bottom:50px;}

.infeedback{background:url("/img/baobg.jpg") no-repeat left top;padding-top:12px;padding-bottom:18px;}
.infeedbackn_w{border:solid 1px white;width:740px;padding:10px 10px;margin:0px auto;}
.infeedbackn{background:url("/img/bei7.png");width:100%; color:white;}
.fortijiao{font-size:15px;padding-left:100px;line-height:34px; vertical-align:middle;}
table{border:none;}
.fortijiao table tr{height:50px;}
td{border:0px;}
.intext{height:40px;line-height:40px;vertical-align:middle;background-color:white;width:400px;border:none;padding-left:6px;}
.bitian{color:#ffeb11;}
.inbut{margin-left:200px;margin-top:30px;padding-bottom:30px;}
.zhuanye{background:url(/img/bag.jpg) no-repeat left top}
.zhuanye_t{font-size:70px;color:white;padding-top:40px;padding-bottom:10px;text-align:center;font-weight:bold;}
.zhuanye_g{text-align:center;font-size:18px;color:white;margin-bottom:10px;}
.zhuanye_neirong_l{width:214px;float:left;}
.zhuanye_neirong_r{width:838px;float:right;}
.zhuanye_neirong_r_a{width:257px;float:left;margin-right:20px;height:138px;margin-bottom:10px;background-color:white}
.zhuanye_neirong_r_al{width:40px;font-size:40px;color:#0b1b31;font-weight:bold;padding-left:36px;padding-top:40px;float:left}
.zhuanye_neirong_r_ar{width:146px;float:left;line-height:28px;vertical-align:middle;font-size:17px;color:#282828;padding-top:40px;}
/*学历入户*/
.xuelijieshao{margin-top:50px}
.xuelijieshao_l{width:350px;float:left;}
.xuelijieshao_r {
    width:820px;float:right;background-color:#be1a20;padding-bottom:40px;
}
.xuelijieshao_r_t{font-size:35px;color:white;line-height:50px; vertical-align:middle; border-bottom:solid 2px white;width:140px;margin-left:30px;margin-top:20px;font-weight:bold;}
.xuelijieshao_r_n{margin-left:30px;margin-top:30px;color:white;font-size:20px;padding-right:30px;}
.xuelijieshao_r .xuelijieshao_r_tl{display:block;font-size:22px;color:white;text-align:center;width:150px;line-height:36px;vertical-align:middle;margin-left:30px;margin-top:30px;border:solid 2px white;border-radius:25px;
-moz-border-radius:25px; /* 老的 Firefox */ }
.xueli_bai{font-size:22px;font-weight:bold;color:#2c2c2c;text-align:center;margin-top:10px;margin-bottom:30px;}

.xueli_qiu_l_t{font-size:36px;color:#1854ac;font-weight:bold;margin-top:30px;text-align:right;}
.xueli_qiu_l_t span{font-size:17px;color:#3d3d3d;font-weight:initial;display:block;padding-top:15px;text-align:left;padding-left:60px;}
.xueli_qiu_l_b{font-size:36px;color:#dc2931;font-weight:bold;margin-top:100px;text-align:right;}
.xueli_qiu_l_b span{font-size:17px;color:#3d3d3d;font-weight:initial;display:block;padding-top:15px;text-align:right;}
.xueli_qiu_l{width:367px;float:left;padding-right:10px;}
.xueli_qiu_z{width:448px;float:left;}
.xueli_qiu_r{width:340px;float:right;}

.xueli_qiu_l_t2{font-size:36px;color:#1854ac;font-weight:bold;margin-top:30px;text-align:left;}
.xueli_qiu_l_t2 span{font-size:17px;color:#3d3d3d;font-weight:initial;display:block;padding-top:15px;text-align:left;}
.xueli_qiu_l_b2{font-size:36px;color:#dc2931;font-weight:bold;margin-top:120px;text-align:left;}
.xueli_qiu_l_b2 span{font-size:17px;color:#3d3d3d;font-weight:initial;display:block;padding-top:15px;text-align:left;}

/*瑞丽深度开始*/
.flash4{width:1150px;height:330px;margin:0px auto;margin-bottom:20px;position:relative;}
.flash4 ul li{width:150px;height:330px;border-left:1px solid #000;position:relative;overflow:hidden;float:left;}
.flash4 ul li .imgTop img{opacity:0.4;}
.flash4 ul li .imgTop img.tm{opacity:1;}

.flash4 ul li .imgCon{width:250px;height:405px;}
.flash4 ul li .imgCen{width:250px;height:30px;background:rgba(0,0,0,0.5);color:#fff;font-size:15px;line-height:30px;position:absolute;left:0px;bottom:0px;display:none;text-align:center;}
.flash4 ul li .imgBot{width:250px;height:45px;background:#222;}
.flash4 ul li .imgBot p.bt_1{width:80px;line-height:45px;font-size:16px;color:#fff;text-indent:20px;float:left;}
.flash4 ul li .imgBot p.bt_2{width:458px;height:45px;line-height:45px;float:left;display:none;}
.flash4 ul li .imgBot p.bt_2 span{font-size:14px;color:#fff;padding-right:30px;background:url(/img/part2_icon.png)no-repeat left center;padding-left:10px;}

.flash4 ul li.first{width:250px;}
.flash4 ul li.fast{position:absolute;right:0px;bottom:0px;}

/*积分入户*/
.jifenb_li_l{width:568px;float:left;text-align:right;}
.jifenb_li_r{width:568px;float:right}
.jifenb_li_l_t{background-color:#c11920; color:white;}
.jifenb_li_l_t_t{font-size:27px;padding:15px 20px 10px 0px;font-weight:bold}
.jifenb_li_l_t_z{font-size:16px;padding-right:20px;padding-bottom:20px;}
.jifenb_li_l_t_m{display:inline-block;margin-right:20px; font-size:16px;color:#fff100;border:solid 2px #fff100;padding:3px 15px;margin-bottom:15px;border-radius:12px;
-moz-border-radius:12px; /* 老的 Firefox */}
.jifenb_li_l_t_m:hover{color:white; border:solid 2px white;}

.jifenb_li_r .jifenb_li_l_t_t{font-size:27px;padding:15px 0px 10px 20px;font-weight:bold}
.jifenb_li_r .jifenb_li_l_t_z{font-size:16px;padding-left:20px;padding-bottom:20px;}
.jifenb_li_r .jifenb_li_l_t_m{display:inline-block;margin-left:20px; font-size:16px;color:#fff100;border:solid 2px #fff100;padding:3px 15px;margin-bottom:15px;border-radius:12px;
-moz-border-radius:12px; /* 老的 Firefox */}

.jifenb_li_l_b{background-color:#c11920;color:white;margin-top:30px;}
.jifenb_li_r .jifenb_li_l_t_m:hover{color:white; border:solid 2px white;}
.jifen_news{margin-top:30px;background-color:#c62e34;padding-top:20px;padding-bottom:20px;}
.jifen_news_n{background-color:#f8f8f8;}
.jifen_news_n_li_l{width:568px;float:left;}
.jifen_news_n_li_r{width:580px;float:right;}
.jifen_news_n_li{border-top:solid 4px #c11920;padding-top:4px;}
.jifen_news_n_li_l_t{font-size:18px;padding:20px 0px 20px 15px;}
.jifen_news_n_li_l_b{padding-left:15px;color:#3a3a3a;line-height:24px;vertical-align:middle;padding-bottom:30px;}
.jifen_news_n_li_rli{
    margin-bottom:24px;
}
.jifen_news_n_li_rli_l{width:126px;height:100px;background-color:#c11920;color:white;text-align:center;float:left}
.jifen_news_n_li_rli_r{width:435px;float:right;padding-right:8px;}
.jifen_news_n_li_rli_l p{font-size:35px;padding-top:8px;}
.jifen_news_n_li_rli_l span{font-size:20px;}
.jifen_news_n_li_rli_rt{font-size:18px;}
.jifen_news_n_li_rli_rt a{color:#3a3a3a}
.jifen_news_n_li_rli_r p{font-size:14px;color:#3a3a3a;margin-top:15px;line-height:26px;height:56px;overflow:hidden}
.jifen_news_n_li_rli_rt a:hover{color:#c11920}
.jifen_more{font-size:20px;color:#ffff00;border:solid 2px #f1c708;padding:3px 15px; width:150px;text-align:center;margin:0px auto;margin-top:140px;border-radius:25px;
-moz-border-radius:25px;}
.jifen_more a{color:#ffff00}
.jifen_more:hover a{color:white}
.jifen_more:hover{border:solid 2px white;}
.pcwenti{background:url("/img/ziuxn_bg.jpg") no-repeat center top;padding-top:40px;padding-bottom:30px;}
.pcwentinei{background-color:white;padding-bottom:30px;}
.pcwenti_t{font-size:40px;color:#c11920;text-align:center;padding-top:36px;font-weight:bold}
.pcwenti_t2{font-size:26px;color:#2a2a2a;text-align:center;padding-bottom:10px;}
.wenti_l{width:350px;float:left;line-height:38px;font-size:18px;color:#212121;}
.wenti_r{width:420px;float:right;}
.wentiall{padding-bottom:20px;background-color:#fcb6b2;width:770px;margin:0px auto;padding:30px;}
.fortijiaojifen{font-size:15px;line-height:34px; vertical-align:middle;}
table{border:none;}
.fortijiaojifen table tr{height:50px;}
td{border:0px;}
.fortijiaojifen .intext{height:40px;line-height:40px;vertical-align:middle;background-color:white;width:320px;border:none;padding-left:6px;}
.fortijiaojifen .inbut {
    margin-left:90px;
    margin-top: 30px;
    padding-bottom: 30px;
}
.inbutton {
    border: none;
    background-color: #ffb912;
    font-size: 18px;
    color: #e60727;
    padding: 10px 60px;
    cursor: pointer;
    border-radius: 6px;
    -moz-border-radius: 6px;
}
.cont_title .onbut{background-color:#efaf02;color:black}
.page-box{margin-top:20px;}
.page-box li{float:left; margin-left:20px;}

.contwai{width:345px;float:left;margin-right:60px;color:#ffffff}
.contnei{padding-left:30px;padding-right:30px;}
.contwai img{display:block;padding-top:14px;padding-bottom:14px;}
.mianbao{font-size:15px;margin-bottom:40px;text-align:right}

.next-box{ line-height:20px; color:#444; font-size:14px; width:1000px;margin:0px auto; }
    .next-box:after{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
    .next-box p{ display:block; width:49%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
    .next-box p a{ color:#428bca; }
    .next-box p.prev{ float:left; }
    .next-box p.next{ float:right; }
.newxinlist{margin-top:50px;}
.newxinlist_t{font-size:18px;background:url("/img/timg.jpg") no-repeat 0px 2px;padding-left:24px;line-height:18px;vertical-align:middle;margin-left:5px;margin-bottom:15px;margin-top:20px;}

.diqulist_t{height:48px;line-height:48px;vertical-align:middle;font-size:20px;color:white;background-color:#db2c2c;padding-left:15px;margin-top:30px;}
.diqulist_c{margin-top:30px;width:1210px;overflow:hidden;}
.diqulist_cn{width:576px;float:left;margin-right:20px;margin-bottom:30px;}
.diqulist_cn_t{height:34px;line-height:34px;vertical-align:middle;font-size:17px;border:solid 1px #12afe6;background:url("/img/qubiao.jpg") no-repeat left center;padding-left:40px;color:#292929;}
.diqulist_cn_t span{ display:block;float:right;padding-right:10px;}
.diqulist_cn_i{border:solid 1px #12afe6;}
.diqulist_cn_i{padding:20px 20px 20px 20px;}
.diqulist_cn_il{width:200px;float:left;overflow:hidden;}
.diqulist_cn_ir{width:310px;float:right;}
.diqulist_cn_irl{background:url("/img/dinav.jpg") no-repeat left center;font-size:17px;line-height:26px;vertical-align:middle;padding-left:25px;margin-bottom:10px;}
.zhaotitle{font-size:36px;color:#b52126;text-align:center;}
.zhaotitle_b{height:3px;width:60px;background-color:#b52126;margin:0px auto;margin-top:15px;margin-bottom:20px;}
.zhaoabout{font-size:18px;line-height:34px;color:#4c4c4c;}
.zhaopin{margin-top:50px;text-align:center;}
.zhaofeed{background:url("/img/zhaolink.jpg") no-repeat center top;padding-top:50px;padding-bottom:40px;}
.zhaofeednei{width:748px;margin:0px auto;}
.zhaofet{width:100%;height:65px;line-height:65px;vertical-align:middle;font-size:20px;border:solid 1px #f0f0f0;display:inline-block;margin-bottom:28px;padding-left:26px;}
.zhaofeb{width:100%;height:160px;padding-left:26px;border:solid 1px #f0f0f0;line-height:28px;font-size:20px;}
.zhaosub{width:196px;text-align:center;font-size:28px;color:white;margin:0px auto;display:block;margin-top:25px;background-color:#b52126;border:none;line-height:48px;vertical-align:middle;border-radius:6px;cursor:pointer}
.zhaocont{width:1170px;margin:0px auto;margin-top:40px;}
.zhaocont p{line-height:45px;vertical-align:middle;font-size:17px;margin-top:43px;}
.zhaocont p img{vertical-align:middle}
.zhaocont_c{padding-bottom:50px;}
